
#topOfPage{
	background-color: navy;
	color: lightgray;
}

#topOfPage a{
	color: lightgray;
}

#middleOfPage{
	background-color: lightgray;
}

#bottomOfPage{
	background-color:lightgray;
	color: navy;
}

#skipToContent{
	font-size: 0%;
}